{% extends "auctions/layout.html" %}
{% load bootstrap %}

{% block body %}
    {% if user.is_authenticated %}  
        {% if not user_owner_listing %}
            {% if watched_by_user %}
                <form action="{% url 'auctions:remove_from_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove from Watchlist" class="btn btn-secondary btn-sm">  
                </form>  
            {% else %}
                <form action="{% url 'auctions:add_to_watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Add to Watchlist" class="btn btn-secondary btn-sm">  
                </form> 
            {% endif %}
        {% endif %}    
        <br>
    {% endif %}    

    <h2>Listing: {{listing.title}}</h2>  


    <br>

    <img src="{{ listing.image_url }}" alt="" width="500">

    <p>{{ listing.description }}</p>
    

    {% if listing.highest_bid > listing.min_price %}
        <h2>$ {{ listing.highest_bid }}</h2>
    {% else %}
        <h2>$ {{ listing.min_price }}</h2>
    {% endif %}

    {% if not listing.is_available %}
        <div class="alert alert-primary" role="alert">
            Item not available for bids
        </div>
    {% endif %}


    {% if user.is_authenticated %}

        {% if bid_text_info %}
            <p>{{ bid_text_info }}</p>
        {% endif %}

        {% if not user_owner_listing and listing.is_available %}
            <form action="{% url 'auctions:place_bid' listing.id %}" method="post">
                {% csrf_token %}
                {{ form_bid|bootstrap }}
                <input type="submit" value="Place Bid" class="btn btn-primary">  
            </form>
        {% endif %}
    {% endif %}
    
    <br>
    <h2>Details:</h2>
    <ul>
        <li>Listed by: {{ listing.listed_by }}</li>
        {% if listing.category %}
            <li>Category: {{ listing.category }}</li>
        {% else %}
            <li>Category: No Category Listed</li>
        {% endif %}
    </ul>

    

    {% if user_owner_listing and listing.is_available %}
        <form action="{% url 'auctions:close_auction' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close Auction" class="btn btn-outline-danger btn-sm">  
        </form>   
    {% endif %}

    <br>
    <h2>Comments:</h2>
    {% for comment in comments %}
    <ul>
        <li><strong>{{ comment.user_comment }}</strong>
        <p>{{ comment.comment }}</p>
        </li>
    </ul>
    {% endfor %}
    {% if user.is_authenticated %}
        <form action="{% url 'auctions:add_comment' listing.id %}" method="post">
            {% csrf_token %}
            {{ comment_form|bootstrap }}
            <input type="submit" value="Place Comment" class="btn btn-primary">  
        </form>
    {% endif %}
    
{% endblock %}